/* Global colors */
:root {
    --background-color: #111;
    --text-color: white;
    --mustard-color: #f9a000;
    --gold-color: #f47c33;
    --coral-color: #ef5966;
    --magenta-color: #a53f5b;
    --purple-color: #592651;
    --dark-purple-color: #302144;
}

body{
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: var(--dark-purple-color);
}

/*reference sheet cards*/
.card {
    background-color: var(--purple-color); /* Set the card background to --coral-color */
    color: var(--text-color); /* Ensure text is readable */
    border: none; /* Remove default card border */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

#references-page {
    background-color: var(--dark-purple-color); /* Set the background color */
    color: var(--text-color); /* Ensure text is readable */
}

#references-page p {
    margin: 0; /* Remove default margin */
    margin-bottom: 0.25rem; /* Add a smaller bottom margin for spacing */
}

#references-page footer {
    background-color: var(--dark-purple-color); /* Set the footer background color */
    color: var(--text-color); /* Ensure the text is readable */
    padding: 15px; /* Add some padding for spacing */
    border-top: 2px solid var(--coral-color); /* Optional: Add a border for separation */
}

/*modify color of hyperlinks*/
#references-page .card a {
    color: var(--gold-color); /* Replace with your desired color */
}

#references-page a:hover {
    color: var(--coral-color); /* Optional: Change color on hover */
}

.row {
    padding: 20px; /* Add padding around the cards */
}

.card-title {
    font-weight: bold; /* Make the card title bold */
    font-size: 1.25rem; /* Optional: Adjust the font size if needed */
    color: var(--text-color); /* Ensure the text color matches the theme */
}

.hidden{
    display: none;
}

/* Top bar styles */
.top-bar {
    background-color: var(--magenta-color); /* Set background color */
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure header stays on top */
    color: white; /* Make text white */
    width: 100%; /* Ensure header takes full width */
    height: 70px; /* Fixed height for the header */
}

.center-text {
    position: absolute;
    text-align: center;
}
.center-text p {
    margin: 0; /* Remove default margin for better alignment */
    font-size: 1rem; /* Adjust size based on design preference */
    font-weight: bold; /* Make the text stand out */
    color: white; /* Ensure the text color matches the header */
}

.navigation__menu{
    background-color: var(--dark-purple-color);
    height: 100vh;
    max-width: 375px;
    position: fixed;
    top: 0;
    left: 0;
    transform:translateX(-100%);
    transition: transform 0.13s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    padding-left: -2rem;
    align-items: flex-start;
    font-size: 1.5rem;
    z-index: 10;
}

nav{
    padding:1rem;
    display: flex;
    background-color: transparent;
}

.navigation__menu.collapse.show {
    transform: translateX(0); /* Move into view */
 }

/* Ensure hamburger menu is always visible */
.navbar-toggler {
    position: fixed;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0 px;
    margin:0;
    z-index:20; /*move forward so it can be seen over the menu*/
}

/* Removes boarder when clicked*/
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.navigation__links{
    display: flex;
    align-items: flex-start;
    gap: 2rem; /*space between menu items*/
    margin: 1rem;
    padding: 0;
    margin-left: 0; /* Remove extra margin */
    padding-left: .5rem; /* Remove any default padding */
    text-align: left; 
    flex-direction: column;
}

.navigation__links a{
    color: white;
    text-decoration: none;
}

.navigation__item {
    list-style-type: none;
}

/* Custom color for hamburger menu icon */
.custom-toggler-icon {
    background-color: white; /* Set the hamburger menu icon to white */
}

/* Psyche logo size */
.psyche-logo {
    max-height: 40px;
}

/* Style for the pop-up */
.popup {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
    z-index: 100; /* in front of most but behind nav menu*/
    display: none; /* Initially hidden */
}

/*"go to instrument" button*/
#instrumentButton {
    display: block;
    visibility: visible;
    opacity: 1;
    position: fixed;
    width: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Offset by half its width */
    padding: 10px;
    background-color: var(--gold-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
}

#instrumentButton:hover {
    background-color: var(--coral-color);
}

.bottomButtonGroup {
    position: absolute;
    bottom: 2%;
    left: 1%;
    display: flex;
    gap: 1vw;
    z-index: 1001;
}

.bottomButtonGroup button {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 0.5vw;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    max-width: 50px;
    max-height: 50px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomButtonGroup button img {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.tutorialOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.overlayContent {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    padding: 1rem;
    box-sizing: border-box;
}
  
#tutorialVideo {
    width: 100%;
    max-width: 800px;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
  
#closeOverlay {
    position: absolute;
    top: -20px;
    right: -20px;
    background: red;
    color: white;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.countdown-timer-box{
    position: absolute;
    text-align: center;
    margin-top: 5vh;    /*Makes sure timer isn't covered by nav bar*/
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    top: 6%;
    right:0%;
    z-index: 10; 
    background-color: rgba(255, 255, 255, 0.15); /* Transparent white */
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); /* Glass effect */
    border-radius: 10px; /* Rounded button */
    --text-color: white;
    color: var(--text-color);
}
#countdown-title{
    font-size: 1rem;
    font-weight: bold;
}

#countdown-timer {
    margin: 0; /* Remove extra space from <p> */
    text-align: center;
    font-size: 18px; /* Adjust size if needed */
}

.orbit-description {
    visibility: hidden; /*don't show it until an orbit has been clicked*/
    position: fixed;
    top:75px; /*underneath nav bar*/
    right: 2px;
    width: 30%; /* Fixed width */
    max-height: 200px; /* Default height */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 8px;
    z-index: 1;
    transition: max-height 0.3s ease-in-out, width 0.3s ease-in-out;;
    display: flex;
    flex-direction: column;
    
}

.orbit-description.show{
    visibility: visible; /*orbit box now visible*/
}

/* Expanded state */
.orbit-description.expanded {
    max-height: 400px;
    width: 300px;
    overflow-y: auto;
    position: absolute;
    transition: width 0.3s ease, max-height 0.3s ease;
}


#orbit-text, #instrumentdetails {
    flex-grow: 1; /* Make text area expandable */
    max-height: 120px; /* Default max height */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    font-size: 16px;
}

#orbit-text.collapsed, .sample-data.collapsed #sampledatatext, .instrument-details.collapsed #instrumentdetails {
    display: none;
}

/* Expanded state */
#orbit-text.expanded {
    display: block; /* Show the text when expanded */
    max-height: none; /* Allow full expansion */
    overflow: visible;
}


#see-more-btn, #see-more-btn1, #see-more-btn2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f47c33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;  /* Use flexbox to center the text inside */
    justify-content: center;
    text-align: center;
}

#see-more-btn:hover, #see-more-btn1:hover, #see-more-btn2:hover {
    background-color: #ef5966;
}

/*container of instrument and sample data boxes*/
.instrument-and-data-wrapper{
    position: fixed;
    top: 75px; /*underneath nav bar*/
    right: 2px;
    display: flex;
    flex-direction: column;
    align-items:flex-end; /*keeps right-aligned info boxes*/
    width: 30%; /*default desktop width*/
    z-index: 10;
    gap: 5px; /* This controls spacing between boxes */
}


/* Instrument details Box */
.instrument-details, .sample-data {
    position: relative;
    width: 100%; /* Full width of the container */
    max-height: 250px;
    overflow: hidden; 
    color: white;
    padding: 15px;
    border-radius: 8px;
    transition: max-height 0.3s ease-in-out;
}

/* For testing - show class for visibility */
.instrument-details.show, .sample-data.show {
    visibility: visible; /* Ensure it’s visible */
    opacity: 1; /* Make sure it's fully opaque */
    transition: visibility 0s linear 0s; /* Immediate visibility */
/} 

/* Expanded state */
.instrument-details.expanded, .sample-data.expanded {
    max-height: 400px; /* Expanded height */
    width: 400px;
    overflow-y: auto; /* Allow scrolling */
    transition: max-height 0.3s ease-in-out;
}

.instrument-details.collapsed{
    overflow: visible;
    max-height: none; /*allow to resize for long instrument names*/
}


/* Expanded state: Show the title, button, and text */
.instrument-details.expanded #instrumentdetails {
    display: block; /* Show the text content */
    overflow-y: auto; /* Enable scrolling if content exceeds max height */
    transition: max-height 0.3s ease-in-out;
}

#instrument-details-title {
    white-space: normal;
    word-wrap: break-word; /*allow wraparound for long instrument names*/
}

/* Ensure the text and image fit within the container */
#sampledatatext {
    flex-grow: 1;
    max-height: inherit; /* Ensure the content respects the container's height */
    overflow-y: auto; /* Enable scrolling for the text and image */
    display: flex;
    flex-direction: column; /* Stack text and image vertically */
    gap: 10px; /* Add spacing between text and image */
}

/* Constrain the image size */
#sampledatatext img {
    max-width: 100%; /* Ensure the image fits within the container's width */
    max-height: 100%; /* Ensure the image fits within the container's height */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image scales properly */
}

/* Expanded state: Show the title, button, and text */
.sample-data.expanded #sampledatatext {
    display: block; /* Show the text content */
    max-height: 600px; /* Allow full expansion */
    overflow-y: auto; /* Enable scrolling if content exceeds max height */
}

/* A-Frame scene styles */
a-scene {
    margin-top: 80px; /* Push scene below the fixed header */
    height: calc(100vh - 80px); /* Full screen height minus the header height */
    width: 100%;
}

/* Tablet style settings */

@media (max-width: 768px){

}

/* Phone style settings */

@media (max-width: 600px){
    .navigation__menu{
        max-width: 250px;
    }

    .navigation__links{
        font-size: 1rem;
    }

    .navigation__item{
        font-size: 1rem;
    }

    #hamburgerIcon{
        width: 30px;
        height: 30px;
    }

    #closeIcon{
        width: 30px;
        height: 30px;
    }

    .info-icon img{
        width: 20px;
        height: 20px;
    }

    .psyche-logo {
        max-width: 50%;
        height: auto;
    }

    .top-bar {
        height: 70px; /* Keep header height fixed at 70px */
    }

    .psyche-logo {
        max-height: 40px; /* Keep logo size constant */
    }
    .orbit-description {
        right: 10px; /* Adjust slightly for smaller screens */
        width: 45%; /* Maintain readability on small screens */
    }

    .instrument-and-data-wrapper {
        width: 90%; /* Adjust width for smaller screens */
    }

    .instrument-details,
    .sample-data {
        width: 100%; /* Make the boxes take up the full width of the container */
    }

    .bottomButtonGroup {
        position: absolute;
        bottom: 2%;
        left: 1%;
        display: flex;
        gap: 1vw;
        z-index: 1001;
    }
    
    .bottomButtonGroup button {
        background-color: rgba(255, 255, 255, 0.15);
        border: 2px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 0.5vw;
        cursor: pointer;
        width: 8vw;
        height: 8vw;
        max-width: 50px;
        max-height: 50px;
        min-width: 30px;
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bottomButtonGroup button img {
        width: 70%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 350px) {
    .bottomButtonGroup {
        flex-direction: column;
        gap: 1vh;
        left: 2%;
        bottom: 2%;
    }

    .bottomButtonGroup button {
        width: 10vw;
        height: 10vw;
    }

    .bottomButtonGroup button img {
        width: 60%;
    }
}