
:root {
    --mustard-color: #f9a000;
    --gold-color: #f47c33;
    --coral-color: #ef5966;
    --magenta-color: #a53f5b;
    --purple-color: #592651;
    --dark-purple-color: #302144;
}


body{
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #a53f5b;
}

.hidden{
    display: none;
}

.navigation__menu{
    background-color: var(--dark-purple-color);
    height: 100vh;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: 0;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    align-items: flex-end;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation__menu.active{
    transform: translateX(0);
}

nav{
    padding:1rem;
    display: flex;
    background-color: transparent;
}

.navigation__toggle{
    height: 50px;
    width: 40px;
    position: fixed;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin:0;
    z-index:2; /*move forward so it can be seen over the menu*/
}

.navigation__links{
    display: flex;
    gap: 2rem; /*space between menu items*/
    margin: 2rem;
    padding: 0;
    flex-direction: column;
}

.navigation__links a{
    color: white;
    text-decoration: none;
}

.navigation__item {
    list-style-type: none;
}